{% extends 'superuser/layout.html' %}
{% load humanize %}
{% load tags %}
{% block main %}
<div class="container my-5">
    <div class="row g-3">
        <div class="col-12">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show"
                role="alert">{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            <h5>{{ category.get_name|upper }}</h5>
        </div>
        <div class="col-12">
            <ul class="list-group mt-2">
                {% for question in category.get_questions %}
                <li class="list-group-item list-group-item-secondary" id="q{{ question.get_id }}">
                    {{ forloop.counter }}. {{ question }}
                    <a href="#q{{ question.get_id }}" class="text-decoration-none fs-4">¶</a>
                </li>
                {% for option in question.get_options %}
                <li class="list-group-item ps-4 list-group-item-info">
                    {{ forloop.counter|convertNum2Alpha }}).
                    <span class="{% if option.is_correct %}text-primary{% endif %}">
                        {{ option.get_option_text }}
                    </span>
                </li>
                {% endfor %}
                {% empty %}
                <li class="list-group-item">
                    This category has no questions. Click
                    <a href="{% url 'superuser:add-question' category.get_id %}">here</a>
                    to add a question
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock main %}