{% extends 'superuser/layout.html' %}
{% load humanize %}
{% load tags %}
{% block main %}
<div class="container my-5">
    <div class="row g-3">
        <div class="col-12">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            <div class="row g-3">
                <div class="col-md-4">
                    <img src="{{ category.get_cat_image_url }}" class="img-fluid img-thumbnail" alt="...">
                </div>
                <div class="col-md-8 border rounded py-3">
                    <h5>{{ category.get_cat_name|upper }}</h5>
                    <div class="text-truncate">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-ticket-detailed-fill" viewBox="0 0 16 16">
                            <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5Zm4 1a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5Zm0 5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5ZM4 8a1 1 0 0 0 1 1h6a1 1 0 1 0 0-2H5a1 1 0 0 0-1 1Z" />
                        </svg>
                        Description:
                        <span class="text-muted">{{ category.get_cat_desc }}</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-question-diamond-fill" viewBox="0 0 16 16">
                            <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM5.495 6.033a.237.237 0 0 1-.24-.247C5.35 4.091 6.737 3.5 8.005 3.5c1.396 0 2.672.73 2.672 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.105a.25.25 0 0 1-.25.25h-.81a.25.25 0 0 1-.25-.246l-.004-.217c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.803 0-1.253.478-1.342 1.134-.018.137-.128.25-.266.25h-.825zm2.325 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" />
                        </svg>
                        Questions:
                        <small class="text-muted">{{ category.get_num_of_questions|default:"No questions" }}</small>
                    </div>
                    <div class="card-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-calendar-check-fill" viewBox="0 0 16 16">
                            <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
                        </svg>
                        Updated:
                        <small class="text-muted">
                            {{ category.get_date_updated|naturaltime }}
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <ul class="list-group mt-2">
                {% for question in category.get_questions %}
                <li class="list-group-item list-group-item-secondary" id="q{{ question.get_id }}">
                    {{ forloop.counter }}. {{ question }}
                    <a href="#q{{ question.get_id }}" class="text-decoration-none fs-4">¶</a>
                </li>
                {% for option in question.get_options %}
                <li class="list-group-item ps-4 list-group-item-info">
                    {{ forloop.counter|convertNum2Alpha }}).
                    <span class="{% if option.is_correct %}text-primary{% endif %}">
                        {{ option.get_option_text }}
                    </span>
                </li>
                {% endfor %}
                {% empty %}
                <li class="list-group-item">
                    This category has no questions. Click
                    <a href="{% url 'superuser:add-question' category.get_cat_id %}">here</a>
                    to add a question
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock main %}