{% load static %}
<nav class="navbar navbar-light bg-light shadow sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'superuser:index' %}">
            <img src="{% static 'images/logo.png' %}" alt="test your self brand-image" width="50" height="50">
        </a>
        <ul class="navbar-nav nav-pills ms-auto mb-2 mb-lg-0">
            <li class="nav-item text-white">
                <a class="ps-3 nav-link" href="mailto:saood@lastwavetechnology.com">saood@lastwavetechnology.com</a>
            </li>
        </ul>
    </div>
</nav>