{% extends 'superuser/layout.html' %}
{% load static %}
{% block head %}
<script type="text/javascript" src="{% static 'users/js/profile.js' %}"></script>
{% endblock head %}
{% block main %}
<div class="container my-5">
    <div class="row g-3">
        <!-- Error Messages -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="btn-close border" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="col-12 text-center">
            <div class="position-relative mx-auto" style="width: fit-content;">
                <span style="width: 100px; height: 100px;">
                    <img src="{{ user.profile.profile_pic.url }}" class="rounded-circle border" width="100" height="100" alt="profile">
                </span>
                <span class="position-absolute bottom-0 start-92 translate-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="border rounded-circle bi bi-circle-fill text-{% if user.profile.status %}success{% else %}secondary{% endif %}" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8" />
                    </svg>
                </span>
            </div>
            <a class="btn btn-primary btn-sm mt-1" href="{% url 'superuser:update-profile' user.id %}">Change</a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <div class="bg-light border border-dark rounded h-100 p-2">
                <div class="text-white p-3 text-center bg-secondary rounded mb-3">
                    Personal Information
                    <a class="float-end text-decoration-none text-white" title="Edit personal information" href="{% url 'superuser:update-profile' user.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil icon" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                        </svg>
                    </a>
                </div>
                <p class="mb-1"><b>First Name:</b>&nbsp;{{ user.first_name|title }}</p>
                <p class="mb-1"><b>Last Name:</b>&nbsp;{{ user.last_name|title }}</p>
                <p class="mb-1"><b>Username:</b>&nbsp;{{ user.username|lower }}</p>
                <p class="mb-1"><b>Email:</b>&nbsp;<a href="mailto:{{ user.email}}" class="text-decoration-none">{{ user.email|lower }}</a></p>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <div class="bg-light border border-dark rounded h-100 p-2">
                <div class="p-3 text-white text-center bg-secondary rounded mb-3">
                    Account Info
                </div>
                <p class="mb-1"><b>Date Joined:</b>&nbsp;{{ user.date_joined|date }}</p>
                <p class="mb-1"><b>Status:</b> {{ user.profile.status|yesno:"<span class='badge text-bg-success'>Online</span>,<span class='badge text-bg-secondary'>Offline</span>"|safe }}</p>
                <p class="mb-1"><b>Account Status:</b> {{ user.is_active|yesno:"<span class='badge text-bg-primary'>Active</span>,<span class='badge text-bg-danger'>Blocked</span>"|safe }}</p>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">
            <div class="bg-light border border-dark rounded h-100 p-2">
                <div class="text-white p-3 text-center bg-secondary rounded mb-3">
                    Social Links
                </div>
                {% for link_obj in user.profile.get_social_links %}
                <p class="mb-1">
                    <a href="{{ link_obj.get_link }}" class="text-decoration-none text-truncate" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                            <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z" />
                            <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z" />
                        </svg>&nbsp;&nbsp;
                        {{ link_obj.get_link }}
                    </a>
                </p>
                {% empty %}
                <p class="mb-1">No links yet provided</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">
            <div class="bg-light border border-dark rounded h-100 p-2">
                <div class="text-white p-3 text-center bg-secondary rounded mb-3">
                    Some Other
                </div>
                <p class="mb-1">Some other text will go here</p>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="bg-light border border-dark rounded h-100 p-2">
                <div class="text-white p-3 text-center bg-secondary rounded mb-3">
                    About Me
                    <a class="float-end text-decoration-none text-white" title="Edit about me" href="{% url 'superuser:update-profile' user.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil icon" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                        </svg>
                    </a>
                </div>
                <p class="mb-1 text-truncate" style="cursor:pointer;">{{ user.profile.get_bio|default:"Please say something about yourself." }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
