{% extends 'layout.html' %}
{% block main %}
<div class="container my-5">
    <div class="shadow rounded row p-3">
        <h3 class="text-center mb-2">Add Question</h3>
        {% if messages %}
        <div class="col-12 col-md-10 offset-md-1">
            {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if errors %}
        <div class="col-12 col-md-10 offset-md-1">
            {% for error in errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <form action="{% url 'tests:add-question' %}" method="post" class="needs-validation" novalidate autocomplete="off">
            {% csrf_token %}
            <div class="col-12 col-md-10 offset-md-1 mb-3">
                <div class="form-floating">
                    <input type="text" name="statement" maxlength="800" class="form-control" id="id_statement" placeholder="Question" required>
                    <label for="id_statement">Question</label>
                </div>
            </div>
            <div id="options">
                <div class="col-12 col-md-10 d-md-flex offset-md-1 mb-3">
                    <div class="form-floating w-100 me-md-3 mb-3 mb-md-0">
                        <input type="text" name="choice_1" class="form-control" id="id_choice_1" placeholder="Choice 1" required onchange="update_select();">
                        <label for="id_choice_1">Choice 1</label>
                    </div>
                    <div class="form-floating w-100">
                        <input type="text" name="choice_2" class="form-control" id="id_choice_2" placeholder="Choice 2" required onchange="update_select();">
                        <label for="id_choice_2">Choice 2</label>
                    </div>
                </div>
                <div class="col-0 col-md-1"></div>
                <div class="col-12 col-md-10 d-md-flex offset-md-1 mb-3">
                    <div class="form-floating w-100 me-md-3 mb-3 mb-md-0">
                        <input type="text" name="choice_3" class="form-control" id="id_choice_3" placeholder="Choice 3" required onchange="update_select();">
                        <label for="id_choice_3">Choice 3</label>
                    </div>
                    <div class="form-floating w-100">
                        <input type="text" name="choice_4" class="form-control" id="id_choice_4" placeholder="Choice 4" required onchange="update_select();">
                        <label for="id_choice_4">Choice 4</label>
                    </div>
                </div>
            </div>
            <div class="col-0 col-md-1"></div>
            <div class="col-12 d-md-flex col-md-10 offset-0 offset-md-1 mb-3">
                <div class="form-floating mb-3 w-100 me-md-3">
                    <select name="category" class="form-select" required id="id_category">
                        {% if categories.count > 1 %}
                        <option>Select a category</option>
                        {% endif %}
                        {% for category in categories %}
                        <option value="{{ category.get_cat_id }}">{{ category.get_cat_name|lower }}</option>
                        {% endfor %}
                    </select>
                    <label for="id_category">Category</label>
                </div>
                <div class="form-floating mb-3 w-100">
                    <select name="correct_choice" class="form-select" required id="correct_choice">
                        <option>Select correct choice</option>
                    </select>
                    <label for="correct_choice">Correct Choice</label>
                </div>
            </div>
            <div class="col-12 col-md-10 offset-0 offset-md-1">
                <div class="pt-2 text-center w-100">
                    <button type="submit" class="btn btn-dark">
                        Add Suggestion
                    </button>
                </div>
            </div>
            <div class="col-0 col-md-1"></div>
        </form>
    </div>
    <div class="col-0 col-md-1"></div>
</div>
{% endblock main %}