/* category page */
#categories .card {
    transition-duration: 250ms;
    transition-property: translate;
    transition-timing-function: ease-in;
}

#categories .card img {
    height: 150px;
    width: 150px;
}

#categories .card:hover {
    translate: -2px -2px -2px;
}

#categories .card .card-body .card-title {
    font-variant: small-caps;
}

@keyframes display {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }

}

.animation {
    animation-name: display;
    animation-duration: 200ms;
}

.anchor-link {
    color: #0d6efd;
    text-decoration: none;
    opacity: 50%;
    transition: opacity 200ms ease-in-out;
}

.anchor-link:hover {
    opacity: 100%;
}

#topBtn {
    position: fixed !important;
    bottom: 70px !important;
    right: 0% !important;
}

.text-truncate {
    cursor: pointer !important
}