/* category page */
#categories .card {
    transition-duration: 250ms;
    transition-property: translate;
    transition-timing-function: ease-in;
}

#categories .card img {
    height: 150px;
    max-width: 100%;
}

#categories .card:hover {
    translate: -2px -2px -2px;
}

#categories .card .card-body .card-title {
    font-variant: small-caps;
}

#categories {
    animation-name: fade-in;
    animation-duration: 2500ms;
    animation-direction: alternate;
    animation-fill-mode:both;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.anchor-link {
    color: #0d6efd;
    text-decoration: none;
    opacity: 50%;
    transition: opacity 200ms ease-in-out;
}

.anchor-link:hover {
    opacity: 100%;
}

#topBtn {
    position: fixed !important;
    bottom: 70px !important;
    right: 0% !important;
}

.text-truncate {
    cursor: pointer !important
}