{% extends 'superuser/layout.html' %}
{% load static %}
{% block main %}
<div class="container pt-5 pb-5 pb-md-0">
    <div class="row">
        {% if messages %}
        <div class="col-12 col-md-10 offset-md-1">
            {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show"
                role="alert">{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="d-none d-md-block col-md-5 text-center">
            <h3>Add Question</h3>
            <img src="{% static 'images/question.png' %}" class="img-fluid">
        </div>
        <form action="{% url 'superuser:add-question' %}" method="post" class="col-12 col-md-7 needs-validation"
            novalidate autocomplete="off">
            {% csrf_token %}
            <div class="card border-0 shadow-sm">
                <div class="card-header text-bg-dark d-block d-md-none">Add Question</div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label" for="id_statement">Type the statement of your question below</label>
                        <textarea name="statement" autofocus maxlength="800" class="form-control" id="id_statement"
                            placeholder="Type your question question here ..." required>{{ statement }}</textarea>
                    </div>
                    <div class="mb-3">
                        <div id="options" class="row row-cols-1 row-cols-md-2 g-3">
                            <div class="col">
                                <label class="form-label" for="id_choice_1">Choice 1</label>
                                <input name="choice_1" value="{{ choice_1 }}" class="form-control" id="id_choice_1"
                                    placeholder="Your option 1 goes here" required onchange="update_select();">
                            </div>
                            <div class="col">
                                <label class="form-label" for="id_choice_2">Choice 2</label>
                                <input name="choice_2" value="{{ choice_2 }}" class="form-control" id="id_choice_2"
                                    placeholder="Your option 2 goes here" required onchange="update_select();">
                            </div>
                            <div class="col">
                                <label class="form-label" for="id_choice_3">Choice 3</label>
                                <input name="choice_3" value="{{ choice_3 }}" class="form-control" id="id_choice_3"
                                    placeholder="Your option 3 goes here" required onchange="update_select();">
                            </div>
                            <div class="col">
                                <label class="form-label" for="id_choice_4">Choice 4</label>
                                <input name="choice_4" value="{{ choice_4 }}" class="form-control" id="id_choice_4"
                                    placeholder="Your option 4 goes here" required onchange="update_select();">
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
                        <div class="col">
                            <label class="form-label" for="id_category">Category</label>
                            <select name="category" class="form-select" required id="id_category">
                                {% if categories.count > 1 %}
                                <option>Select a category</option>
                                {% endif %}
                                {% for category in categories %}
                                <option value="{{ category.get_id }}">{{ category.get_name|lower }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <label class="form-label" for="correct_choice">Correct Choice</label>
                            <select name="correct_choice" class="form-select" required id="correct_choice">
                                <option>Select correct choice</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn w-100 btn-dark">
                            Add Question
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock main %}