{% extends 'superuser/layout.html' %}
{% block main %}
<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            <div class="card">
                <div class="card-header text-uppercase text-center text-bg-primary">{{ category.get_cat_name }}</div>
                <div class="card-body">
                    <form action="{% url 'superuser:edit-category' category.get_cat_id %}" method="post" id="add-category" class="needs-validation align-items-center row g-3" novalidate enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-2">
                            <label for="cat_name" class="form-label">Category Name:</label>
                        </div>
                        <div class="col-10">
                            <input type="text" autofocus name="cat_name" placeholder="category name" id="cat_name" maxlength="72" required class="form-control p-2" value="{{ category.get_cat_name }}">
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please provide a name for category.</div>
                        </div>
                        <div class="col-2">
                            <label for="cat_desc" class="form-label">Category Description:</label>
                        </div>
                        <div class="col-10">
                            <textarea name="cat_desc" cols="40" maxlength="800" placeholder="Please type some description for the category. (optional)" rows="3" id="cat_desc" class="form-control p-2">{{ category.get_cat_desc }}</textarea>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center text-bg-primary">
                    <button type="submit" form="add-category" class="btn btn-dark btn-sm">Update Category</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}