{% extends 'layout.html' %}
{% block head %}
<style>
    body {
        background-color: var(--bs-light);
    }
</style>
{% endblock %}
{% load humanize %}
{% block main %}
<div class="container py-5" id="categories">
    <!-- row for all cards -->
    <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-5">
        {% if messages %}
        <!-- Error messages -->
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show"
            role="alert">
            <span>{{ message }}</span>
            <button type="button" class="btn-close border" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% for category in categories %}
        <div class="col animation">
            <div class="card border-0 rounded-4 shadow h-100">
                <div class="card-body text-center">
                    <img alt="{{ category.get_name }}" class="mb-2" src="{{ category.get_image_url }}">
                    <h5 class="card-title text-primary">{{ category.get_name }}</h5>
                    <p class="card-text text-truncate">{{ category.get_description|truncatewords:10 }}</p>
                    <hr>
                    <p class="card-text text-muted text-end">
                        Questions: {{ category.get_num_of_questions }}
                        <br>
                        Updated: {{ category.get_date_updated|naturaltime }}
                    </p>
                    <hr>
                    <a href="{% url 'tests:take-a-test' category.get_id %}" class="card-link">Take a Test</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main %}