{% extends 'layout.html' %}
{% load static %}
{% block head %}
<style>
    body {
        background-color: var(--bs-light);
    }
</style>
{% endblock head %}
{% block main %}
<div class="container d-flex justify-content-center align-items-center py-5" style="min-height: 79.5vh;">
    <!-- Error messages -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show"
        role="alert">{{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <form action="{% url 'users:login' %}" method="post" class="card shadow-sm border-0 needs-validation"
        style="width: 25rem;" autocomplete="off">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <div class="card-body">
            <div class="card-title text-center fs-2 fw-bold" style="font-family: Arial;">Login</div>
            <div class="mb-3">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter your username" class="form-control"
                    required value="{{ username }}">
            </div>
            <div class="mb-3">
                <label for="password">Password</label>
                <div class="form-group position-relative">
                    <input type="password" name="password" id="password" placeholder="Enter your password"
                        class="form-control" required>
                    <img src="{% static 'icons/eye.png' %}" alt="eye" class="position-absolute"
                        style="bottom:10px;right:10px;cursor: pointer" onclick="togglePassword(this);">
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn w-100 btn-primary">Login</button>
            </div>
            <div class="text-center">
                <p>Didn't have an account <a href="{% url 'users:register' %}" class="card-link">Register</a></p>
            </div>
        </div>
    </form>
</div>
{% endblock main %}