{% extends 'layout.html' %}
{% load static %}
{% block head %}
<style>
    body {
        background-color: var(--bs-light);
    }
</style>
{% endblock head %}
{% block main %}
<!-- row starts here -->
<div class="container py-5 d-flex align-items-center justify-content-center">
    <!-- Error messages -->
    {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show"
        role="alert">{{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <form action="{% url 'users:register' %}" method="post" class="card shadow-sm border-0 needs-validation"
        autocomplete="off" style="width: 30rem;">
        {% csrf_token %}
        <div class="card-body">
            <div class="card-title text-center fs-2 fw-bold" style="font-family: Arial;">Register</div>
            <div class="mb-3">
                <label for="id_username">Email</label>
                <input type="email" name="username" maxlength="150" class="form-control" placeholder="Email" required
                    id="id_username" autocomplete="off" value="{{ username }}">
            </div>
            <div class="mb-3">
                <label for="id_first_name">First name</label>
                <input type="text" name="first_name" maxlength="150" class="form-control" placeholder="First name"
                    id="id_first_name" required value="{{ first_name }}">
            </div>
            <div class="mb-3">
                <label for="id_last_name">Last name</label>
                <input type="text" name="last_name" maxlength="150" class="form-control" placeholder="Last name"
                    id="id_last_name" required value="{{ last_name }}">
            </div>
            <div class="mb-3">
                <label for="id_password">Password</label>
                <div class="position-relative">
                    <input type="password" name="password1" maxlength="128" class="form-control" placeholder="Password"
                        required id="id_password">
                    <img src="{% static 'icons/eye.png' %}" alt="eye" class="position-absolute"
                        style="bottom:10px;right:10px;cursor: pointer" onclick="togglePassword(this);">
                </div>
            </div>
            <div class="mb-3">
                <label for="id_confirm_password">Confirm password</label>
                <input type="password" name="password2" maxlength="128" class="form-control"
                    placeholder="Confirm password" required id="id_confirm_password">
            </div>
            <div class="mb-3">
            <button type="submit" class="btn w-100 btn-primary">Register</button>
            </div>
            <div class="text-center">
                <p>Already registered <a href="{% url 'users:login' %}" class="card-link">Login</a></p>
            </div>
        </div>
    </form>
</div>
{% endblock main %}